*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(214, 50, 214);
    height: 70px;
    margin: 15px 70px;
}

main{
    background-color: rgb(236, 236, 117);
    height: 250px;
    margin: auto 70px;
}

article{
    background-color: rgb(45, 48, 236);
    height: 350px;
    margin: 15px 70px;
    margin-bottom: 0;
}

footer{
    background-color: rgb(90, 39, 110);
    height: 35px;
    margin: 7.5px 70px;
}

.color{
    background-color: lightblue;
}

.title{
    height: 50px;
    margin: 0 auto 15px;

}

.container-2{
    height: 300px;
    width: 100%;
}

.one{
    float: left;
    width: 15%;
    height: 285px;
    padding-top: 5px;
    padding-right: 5px;
}

.two{
    float: left;
    width: 70%;
    height: 285px;
    padding-top: 5px;
}

.tre{
    float: left;
    width: 15%;
    height: 285px;
    padding-top: 5px;
}
