*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(214, 50, 214);
    height: 70px;
    margin: 15px 70px;
}

main{
    background-color: rgb(236, 236, 117);
    height: 250px;
    margin: auto 70px;
}

article{
    background-color: rgb(45, 48, 236);
    height: 300px;
    margin: 15px 70px;
    margin-bottom: 0;
}

footer{
    background-color: rgb(90, 39, 110);
    height: 35px;
    margin: 7.5px 70px;
}